In [39]:
# Import Dependencies
import os
import pandas as pd
import numpy as np
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine,inspect

from flask import Flask, jsonify, render_template
from flask_sqlalchemy import SQLAlchemy
#import csv,sqlite

app = Flask(__name__)


#################################################
# Database Setup
#################################################

app.config["SQLALCHEMY_DATABASE_URI"] = "sqlite:///flights_data.sqlite"
db = SQLAlchemy(app)

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(db.engine, reflect=True)

# Save references to each table
# Samples_Metadata = Base.classes.sample_metadata
# Samples = Base.classes.samples
engine = create_engine("sqlite:///flights_data.sqlite", encoding='utf8')
conn = engine.connect()
session = Session(engine)

C:\Users\cantu\Anaconda3\envs\PythonData\lib\site-packages\flask_sqlalchemy-2.3.2-py3.6.egg\flask_sqlalchemy\__init__.py:794: FSADeprecationWarning: SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and will be disabled by default in the future.  Set it to True or False to suppress this warning.
  'SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and '

In [40]:
# years = flights_data['year'].unique()
# sorted(y)


years = pd.read_sql("SELECT year FROM flights_data",engine)
year_list = years['year'].unique()

#years_grouped = years.groupby(["year"]).sum()

In [41]:
years_list = year_list.tolist()

In [42]:
years_list

[2013, 2014, 2015, 2016, 2017, 2018]